.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    transition: all .3s ease;
    &__content {
        max-width: 500px;
        height: auto;
        padding: 30px;
        background-color: $text-main;
        margin: 100px auto;
        transition: all .3s ease;
    }
    &__head {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 30px;
        position: relative;
    }
    &__title {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: $bg-main;
    }
    &__close {
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 80%;
            height: 6px;
            border-radius: 20px;
            background-color: $bg-main;
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 80%;
            height: 6px;
            border-radius: 20px;
            background-color: $bg-main;
        }
    }
    &__contacts {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 15px;
        &-link {
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 15px;
            &:hover {
                .modal__contacts-text {
                    color: $accent
                }
            }
        }
        &-img {
            width: 45px;
            height: 45px;
            & > img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
            color: $bg-main;
            transition: all .3s ease;
        }
    }

}
.modal-open {
    visibility: visible;
    opacity: 1;
    .modal__content {
        transform: scale(1);
    }
}
.modal-hidden {
    visibility: hidden;
    opacity: 0;
    .modal__content {
        transform: scale(0);
    }
}
