.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.body__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: $text-main;
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 30px;
    background-color: $accent;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
        background-color: $accent-hover;
    }
}
.title {
    margin-bottom: 30px;
    &-span-1 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: $text-main;
        width: 100%;
        margin-bottom: 30px;
    }
    
    &-span-2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: $accent;
    }
}
.subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: $accent;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
    &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 70%;
        border-radius: 20px;
        background-color: $accent;
    }
}
.descr {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $text-main;
    width: 100%;
}
.arrow__top {
    width: 60px;
    height: 60px;
    border: 3px solid $accent;
    background-color: $bg-secondary;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 60px;
    right: 60px;
    & > img {
        width: 30px;
        height: 30px;
        transform: rotate(270deg);
    }
}

.typing-line {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    width:0;
    &-1 {
        animation: none;
    }
    &-2 {
        color: $accent;
        animation: none;
    }
}
.cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-left: 3px;
    background: $accent;
    vertical-align: middle;

    opacity: 0;
}

.typing-start {
     .typing-line-1 {
        animation: typing1 2s steps(23) forwards;
    }

    .typing-line-2 {
        animation: typing2 2s steps(19) 2.2s forwards;
    }

    .cursor {
        animation:
            blink .7s infinite,
            hideCursor 0s forwards 4.2s;
    }
    .cursor {
        opacity: 1;
        animation:
            blink .7s infinite,
            hideCursor 0s forwards 4.2s;
    }
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes hideCursor {
    to {
        opacity: 0;
    }
}
@keyframes typing1{
    from{
        width:0;
    }
    to{
        width:23ch;
    }
}

@keyframes typing2{
    from{
        width:0;
    }
    to{
        width:19ch;
    }
}

@keyframes blink{
    50%{
        border-color:transparent;
    }
}